head
  meta(charset='utf-8')
  title= siteTitle
  meta(name='viewport', content='width=device-width,initial-scale=1')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  link(rel='stylesheet', href='#{assetsCss}#{cssName}.css')

  link(rel='shortcut icon', href='#{assetsCssImg}system/favicon.png')
  link(rel='icon', href='#{assetsCssImg}system/favicon.png')
  script(src='#{assetsJs}modernizr.js')
