<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{page.title}}</title>
</head>
<body>
<header>
    <div class="gutter">
      <h1>Styleguide</h1>
    </div>
</header><!-- /header -->
<div class="gutter">


    <div id="content">
        {{#each page.sections}}
            <div class="section">
                {{#if comment}}
                    <div class="comment">{{{comment}}}</div>
                {{/if}}
                {{#if result}}
                    <div class="result">
                        <script class="result-placeholder" type="text/html">{{{result}}}</script>
                    </div>
                {{/if}}
                {{#if markup}}
                    <div class="markup">{{{markup}}}</div>
                {{/if}}
                {{#if styles}}
                    <div class="styles">{{{styles}}}</div>
                {{/if}}
            </div>
        {{/each}}
    </div>

</div>

<script class="result-template" type="text/html">
    <!DOCTYPE html>
    <html>
        <head>{{> assets}}</head>
        <body onload="[[onload]]">[[body]]</body>
    </html>
</script>

{{> theme}}
{{> highlight}}
{{> scripts}}

</body>
</html>
